<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ラクラクカフェ</title>
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/footer.css" />
    <link rel="stylesheet" href="css/top.css" />
    <link rel="stylesheet" href="css/responsive.css" />
    <link
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header">
          <div class="header-left">
            <a th:href="@{/show}">
              <img class="logo" th:src="@{/img/header_logo.png}" />
            </a>
          </div>

          <div class="header-right">
            <a th:href="@{/show}">商品一覧</a>
            <a
              th:if="${session.customer} == null"
              th:href="@{/registCustomer/toRegistration}"
              >会員登録</a
            >
            <a th:href="@{/cart/showCart}">
              <i class="fas fa-shopping-cart"> </i>カート
            </a>
            <a
              th:if="${session.customer} == null"
              th:href="@{/toLogin}"
              class="login"
            >
              <i class="fas fa-sign-in-alt"></i>ログイン
            </a>
            <a
              th:unless="${session.customer} == null"
              th:href="@{/toLogout}"
              class="login"
            >
              <i class="fas fa-sign-out-alt"></i>ログアウト
            </a>
            <a
              th:unless="${session.customer} == null"
              th:href="@{/showOrderHistory}"
              class="login"
            >
              <i class="fas fa-sign-out-alt"></i>注文履歴
            </a>
          </div>
        </div>
      </div>
    </header>
    <div class="top-wrapper">
      <div class="container">
        <h1 style="color: black" class="page-title">404 Not Found</h1>
        <h3 style="color: black">
          申し訳ございません。お探しのページは見つかりませんでした。
        </h3>
      </div>
    </div>
    <footer>
      <div class="container">
        <img th:src="@{/img/header_logo.png}" />
        <p>アロハな気分をあなたにお届け！</p>
      </div>
    </footer>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
