<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Import Materialize CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- Import Font Wesome -->
    <link
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" th:href="@{/css/register_admin.css}" />
    <link rel="stylesheet" th:href="@{/css/login.css}" />
    <link rel="stylesheet" th:href="@{/css/item_list.css}" />
    <link rel="stylesheet" th:href="@{/css/item_detail.css}" />
    <link rel="stylesheet" th:href="@{/css/cart_list.css}" />
    <link rel="stylesheet" th:href="@{/css/order_confirm.css}" />
    <link rel="stylesheet" th:href="@{/css/order_finished.css}" />
    <link rel="stylesheet" th:href="@{/css/responsive.css}" />
    <link rel="stylesheet" th:href="@{/css/order_history.css}" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ラクラクカフェ</title>
  </head>
  <body>
    <div class="input-field col s12">
      <select style="display: block" class="" name="age" id="age">
        <option value="10代">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
      </select>
    </div>

    <div class="nput-field col s12">
      <select style="display: block" class="" name="gender" id="gender">
        <option value="">男</option>
        <option value="">女</option>
      </select>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
  </body>
</html>
