<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Import Materialize CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- Import Font Wesome -->
    <link
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" th:href="@{/css/register_admin.css}" />
    <link rel="stylesheet" th:href="@{/css/login.css}" />
    <link rel="stylesheet" th:href="@{/css/item_list.css}" />
    <link rel="stylesheet" th:href="@{/css/item_detail.css}" />
    <link rel="stylesheet" th:href="@{/css/cart_list.css}" />
    <link rel="stylesheet" th:href="@{/css/order_confirm.css}" />
    <link rel="stylesheet" th:href="@{/css/order_finished.css}" />
    <link rel="stylesheet" th:href="@{/css/responsive.css}" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ラクラクアロハ</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header">
          <div class="header-left">
            <a href="top.html">
              <img class="logo" src="img/header_logo.png" />
            </a>
          </div>

          <div class="header-right">
            <a th:href="@{/show}">商品一覧</a>
            <a
              th:if="${session.customer} == null"
              th:href="@{/registCustomer/toRegistration}"
              >会員登録</a
            >
            <a th:href="@{/cart/showCart}">
              <i class="fas fa-shopping-cart"> </i>カート
            </a>
            <a
              th:if="${session.customer} == null"
              th:href="@{/toLogin}"
              class="login"
            >
              <i class="fas fa-sign-in-alt"></i>ログイン
            </a>
            <a
              th:unless="${session.customer} == null"
              th:href="@{/toLogout}"
              class="login"
            >
              <i class="fas fa-sign-out-alt"></i>ログアウト
            </a>
            <a href="order_history.html">注文履歴</a>
          </div>
        </div>
      </div>
    </header>
    <div class="top-wrapper">
      <div class="container">
        <h1 class="page-title">Hawaiianパラダイス</h1>
        <div class="row">
          <form
            method="post"
            th:action="@{/cart/addItem}"
            th:object="${cartForm}"
          >
            <input type="hidden" name="itemId" th:value="${item.id}" />
            <div class="row item-detail">
              <div class="item-icon">
                <img th:src="@{|/img/${item.imagePath}|}" />
              </div>
              <div class="item-intro" th:text="${item.description}">
                ハワイで取れる名産物でかつオーガニックな食料がふんだんに使われたローカルフーズです。健康志向の方に大人気の商品です。
              </div>
            </div>
            <div class="row item-size">
              <div class="item-hedding">サイズ</div>
              <div>
                <label>
                  <input
                    id="size-m"
                    name="size"
                    type="radio"
                    checked="checked"
                    class="size"
                    value="M"
                  />
                  <span>
                    &nbsp;<span class="price">Ｍ</span>&nbsp;&nbsp;<span
                      th:text="${item.priceM}"
                      id="priceM"
                      >1,380</span
                    >円(税抜)
                  </span>
                </label>
                <label>
                  <input
                    id="size-l"
                    name="size"
                    type="radio"
                    class="size"
                    value="L"
                  />
                  <span>
                    &nbsp;<span class="price">Ｌ</span>&nbsp;&nbsp;<span
                      th:text="${item.priceL}"
                      id="priceL"
                      >2,380</span
                    >円(税抜)
                  </span>
                </label>
              </div>
            </div>
            <div class="row item-toppings">
              <div class="item-hedding">
                トッピング：&nbsp;1つにつき
                <span>&nbsp;Ｍ&nbsp;</span>&nbsp;&nbsp;<span
                  th:text="${item.toppingList[0].priceM}"
                ></span
                >円(税抜) <span>&nbsp;Ｌ</span>&nbsp;&nbsp;<span
                  th:text="${item.toppingList[0].priceL}"
                ></span
                >円(税抜)
              </div>
              <div id="topping">
                <label
                  class="item-topping"
                  th:each="topping:${item.toppingList}"
                >
                  <input
                    type="checkbox"
                    class="checkbox"
                    name="toppingIdList"
                    th:value="${topping.id}"
                  />
                  <span th:text="${topping.name}">ハワイアンソルト</span>
                </label>
              </div>
            </div>
            <div class="row item-quantity">
              <div class="item-hedding item-hedding-quantity">数量</div>
              <div class="item-quantity-selectbox">
                <div class="input-field col s12">
                  <select class="browser-default" id="num" name="quantity">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row item-total-price">
              <span id="total-price"
                >この商品金額：<span id="totalprice"></span> 円(税抜)
              </span>
            </div>
            <div class="row item-cart-btn">
              <button class="btn" type="submit">
                <span>カートに入れる</span>
              </button>
            </div>
          </form>
        </div>
      </div>
      <!-- end container -->
    </div>
    <!-- end top-wrapper -->
    <footer>
      <div class="container">
        <img src="img/header_logo.png" />
        <p>アロハな気分をあなたにお届け！</p>
      </div>
    </footer>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!-- 合計金額を表示する -->
    <script th:inline="javascript">
      ('use strict');
      $(function () {
        calc_price();
        $('.size').on('change', function () {
          calc_price();
        });

        $('.checkbox').on('change', function () {
          calc_price();
        });

        $('#num').on('change', function () {
          calc_price();
        });

        // 値段の計算をして変更する関数
        function calc_price() {
          let size = $('.size:checked').val();
          let topping_count = 0;
          topping_count = $('#topping input:checkbox:checked').length;
          let num = $('#num').val();
          let size_price = 0;
          let topping_price = 0;
          let size_priceM = /*[[${item.priceM}]]*/ 'M';
          let size_priceL = /*[[${item.priceL}]]*/ 'L';
          let topping_priceM = /*[[${item.toppingList[0].priceM}]]*/ 'M';
          let topping_priceL = /*[[${item.toppingList[0].priceL}]]*/ 'L';
          if (size === 'M') {
            size_price = size_priceM;
            topping_price = topping_priceM * topping_count;
          } else {
            size_price = size_priceL;
            topping_price = topping_priceL * topping_count;
          }
          let price = (size_price + topping_price) * num;
          $('#totalprice').text(price.toLocaleString());
        }
      });
    </script>
  </body>
</html>
